{
    "presets": [
        ["env", {
            "targets": {
                "browsers": ["last 2 versions",  "not ie > 0"],
                "uglify": true
            },
            "debug": true
        }]
    ],
    "plugins": []
}
